@import '~/../../utils/styles/variables.scss';

.banner {
  background: url('/img/life-at-gojek/banner/banner.png') bottom/cover no-repeat;

  @media screen and (max-width: 768px) {
    background: url('/img/life-at-gojek/banner/mobile-banner.png') center/cover no-repeat;
  }
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    background: url('/img/life-at-gojek/banner/tab-banner.jpg') center/cover no-repeat;
  }
  @media screen and (min-width: 1440px) and (max-width: 1920px) {
    background: url('/img/life-at-gojek/banner/banner.png') center/cover no-repeat;
  }
  @media screen and (min-width: 1920px) {
    background: url('/img/life-at-gojek/banner/xl-banner.jpg') center/cover no-repeat;
  }
}

.bannerContainer {
  // for ipad pro
  @media screen and (max-width: 1100px) and (min-width: 1024px) {
    min-height: 60vh;
  }
}
.heading {
  font-size: 2.82rem;
  font-family: $font-bold;
  @media screen and (max-width: 576px) {
    font-size: 1.875rem;
  }
}
.subHeading {
  font-size: 1.875rem;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 1.9rem;
    // font-family: $demi;
  }
}

.valuesHeading {
  font-size: 1.875rem;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;
  @media screen and (max-width: 576px) {
    font-size: 26px;
    line-height: 36px;
  }
}
