@import '~/../../utils/styles/constants.scss';

.card {
  border: none;
}

.cardImgTop {
  border-radius: $border-xl;
}

.mainArticle {
  .title {
    font-size: 1.9rem;
    font-family: $header-font;
    color: #191919;
  }
  img {
    border: 1px solid #f0f0f0;
  }
}

.main {
  .description {
    color: #707070;
    font-size: 1rem;
  }
}
.description,
.date_time {
  color: #707070;
}

.meta {
  font-size: $font-s;
}

#featured-articles {
  .header {
    font-size: 2.2rem;
  }
}

.tag {
  position: absolute;
  background-color: $green-light;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem 1rem 1rem 0;
  margin-left: -5px;
}

.author {
  color: #191919;
}

.article {
  .title {
    font-family: $header-font;
  }
  .description {
    font-size: $font-s;
  }
  .date_time {
    color: #929292;
  }
  img {
    border: 1px solid #f0f0f0;
    min-height: 13rem;
  }
}
