@import '../../utils/styles/variables.scss';

.factCard {
  border-radius: 52px;
  display: inline-block;
}

.techFactsWrapper {
  @media screen and (max-width: 576px) {
    min-height: 26rem;
  }
}
.factHeading {
  font-size: $font-l;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;

  @media screen and (max-width: 576px) {
    font-size: $font-m;
    line-height: 1.7rem;
    font-family: $demi, sans-serif;
  }
}

.fundingLogo {
  max-height: 60px;
  border-radius: 2.875rem;
  border: solid 1px rgba($color: #979797, $alpha: 0.5);
  background-color: rgba(255, 255, 255, 0.94);
  max-width: 192px;
  height: 4.5rem;
  @media screen and (max-width: 576px) {
    height: 2.5rem;
  }
}

.logoImg {
  @media screen and (max-width: 576px) {
    max-width: 72px;
    max-height: 16px;
  }
}

.socialMediaDescription {
  font-size: 18px;
  font-family: $demi;
  line-height: 28px;
  color: #080808;
  a {
    color: #080808;
  }
  // @media screen and (min-width: 768px) {
  //   width: 50%;
  // }
}

.socialMediaCard {
  height: 312px;
  border-radius: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (max-width: 576px) {
    height: 224px;
  }
}
.socialIcon {
  width: 45px !important;
  height: 45px !important;
  background-color: #00aa13;
  padding: 16px;
  border-radius: 50%;
}

.moreBtn {
  font-family: $demi;
  font-size: 21px;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.name {
  font-size: 20px;
  font-family: $demi;
  color: #fff;
  @media screen and (max-width: 576px) {
    color: #000;
  }
}
