@import '~/../../utils/styles/variables.scss';
@import '~/../../utils/styles/constants.scss';

.heading {
  font-family: $font-bold;
  font-size: 2.812rem;
  color: $black;
  @media screen and (max-width: 576px) {
    font-size: 1.875rem;
  }
}
.impactCard {
  min-height: 33rem;
  border-radius: 40px;
}

.title {
  font-size: 1.75rem;
  font-family: $font-bold;
  line-height: normal;
}

.description {
  font-family: $maisonbook;
  line-height: 1.6rem;
  color: $black;
}
