.searchBox {
  -webkit-transition: all 0.8s ease;
  transition: all 0.4s ease;
  position: absolute;
  right: 0;
  top: 0;
}

.blogContainer {
  min-height: 65vh;
}

.normalWidth {
  width: 15%;
  @media screen and (min-width: 500px) {
    width: 8%;
  }
  @media screen and (min-width: 900px) {
    width: 5%;
  }
}

.activeWidth {
  width: 100%;
}
