@import '~/../../utils/styles/constants.scss';
@import '~/../../utils/styles/variables.scss';

.home {
  background: url('/img/home/banner-xl.jpg') no-repeat bottom center;
  height: 70vh;
  background-size: cover;
  @media screen and (max-width: 1440px) {
    background: url('/img/home/banner-lg.jpg') no-repeat center bottom;
  }
  @media screen and (max-width: 768px) {
    height: 50vh;
    background: url('/img/home/banner-md.jpg') no-repeat center bottom;
  }
  @media screen and (max-width: 576px) {
    background: url('/img/home/mobile-banner-new.png') no-repeat center bottom;
    height: 70vh;
    background-size: cover;
    .heading {
      font-size: 1.875rem;
      font-family: $font-extra-bold;
    }
  }
}

.heading {
  font-size: $font-xl;
  font-family: $font-bold, sans-serif;
}

// Once a call center.. section
.gojekBg {
  background: #ffffff url('/img/home/scale-bg.svg') no-repeat top center;
  background-size: cover;
  height: 105vh;
  @media screen and (max-width: 1200px) {
    background-position: -192px center;
  }
  @media screen and (max-width: 576px) {
    background-image: url('/img/home/gojek-bg-mobile.svg');
    background-position-y: 160px;
    background-position-x: center;
  }

  @media screen and (max-width: 425px) {
    .container {
      padding-bottom: 0 !important;
    }
  }

  .full-height {
    min-height: 105vh;
  }
}

.subHeading {
  font-size: $font-l;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;
}

.pointers {
  list-style-type: square;
  font-size: $font-m;
  line-height: 1.7rem;
  font-family: $extended-book, sans-serif;
}
.point {
  font-size: 1.125rem;
  padding-bottom: 1.125rem;

  @media screen and(max-width: $sm-break) {
    font-size: 1rem;
  }
}

// Funding section styles
.fundingHeading {
  font-size: 2.8rem;
  line-height: 3rem;
  font-family: $font-bold, sans-serif;
  @media screen and(max-width: $sm-break) {
    font-size: 1.85rem;
  }
}
.illustration {
  @media screen and(min-width: $md-break) {
    max-width: 80%;
  }
}

.fundingDescription {
  font-family: $maisonbook, sans-serif;
  font-size: 1.125rem;
  @media screen and (max-width: 567px) {
    font-size: 1rem;
  }
}

// Social media section styles
.socialMedia {
  background: linear-gradient(to bottom, #fff 0%, #fff 48%, #fff 48%, #101820 48%, #101820 100%);
  @media screen and (max-width: 567px) {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  }
}
.socialMediaCard {
  border-radius: 52px;
}
.test {
  background: linear-gradient(to bottom, #101820 0%, #101820 60%, #101820 60%, #fff 60%, #fff 100%);
  @media screen and (max-width: 567px) {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  }
}

// Whatsapp popup styles
// .whatsappContainer {
//   position: fixed;
//   right: 5%;
//   bottom: 1rem;
//   z-index: 5000;
// }
// .whatsappPopup {
//   float: right;
//   img {
//     width: 59px;
//     height: 59px;
//   }
// }
// .whatsAppPopover {
//   min-height: 10rem;
//   width: 100%;
//   border-radius: 2rem;
//   background-color: #000;
// }

// .close {
//   bottom: 10%;
//   position: absolute;
//   right: 10%;
// }
// .formHeading {
//   font-size: 20px;
//   font-family: $demi;
//   color: #bce194;
//   @media screen and (max-width: 576px) {
//     font-size: 1.25rem;
//   }
// }
