@import './constants.scss';
.posts {
  .title {
    color: #191919;
    font-family: $header-font;
    @media screen and (max-width: 576px) {
      font-size: 1.125rem;
    }
    &.featured {
      font-size: 1.875rem;
      @media screen and (max-width: 576px) {
        font-size: 1.125rem;
      }
    }
  }
  .description {
    color: #707070;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    &.featured {
      font-size: 1rem;
    }
  }
  .meta {
    font-size: 0.875rem;
    .date-time {
      color: #929292;
    }
    .author {
      color: #191919;
    }
  }
  .thumbnail {
    &.large {
      min-height: 24rem;
      @media screen and (max-width: 576px) {
        min-height: 15rem;
      }
    }
    &.small {
      min-height: 10rem;
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fdfdfd;
    border-radius: 2rem;
  }
  .read-more {
    font-size: 1.125rem;
    font-family: $title-font;
  }
}

.category-box {
  min-height: 195px;
  border-radius: $border-xl;
  .title {
    font-size: 1.25rem;
    font-family: $header-font;
  }
}

.tag {
  position: absolute;
  background-color: $green-light;
  margin-top: 1.5rem;
  border-radius: 0.5rem 1rem 1rem 0;
  top: 0;
  line-height: 36px;
  z-index: 1;
  // change
  margin-left: 0.75rem;
  min-width: 100px;
  min-height: 36px;
  text-align: center;
  letter-spacing: 1px;
}

.tag::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-top: 16px solid #257226;
  left: 0px;
  bottom: -16px;
  position: absolute;
  z-index: 0;
}

.blog-banner {
  min-height: 80vh;

  @media screen and (max-width: 576px) {
    min-height: 60vh;

    .banner-head {
      font-size: 1.7rem;
    }
  }

  @media screen and (min-width: 1920px) {
    min-height: 65vh;
  }
}

.view-all:hover {
  color: $green-light;
}

// Single post page

.post-card {
  .title {
    color: rgba(0, 0, 0, 0.84);
  }
  .excerpt,
  .date-time {
    color: rgba(0, 0, 0, 0.54);
  }
  .author {
    font-size: 16px;
    line-height: 1.4;
    text-rendering: auto;
  }
  .post-footer {
    top: 100%;
    font-size: 0.875rem;
  }
  .footer {
    font-size: 0.875rem;
  }
}

.gist {
  max-width: 680px;
  @media screen and (max-width: 567px) {
    max-width: 380px !important;
  }
}
.post-card-image {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  background-origin: border-box !important;
  background-size: cover !important;
  background-color: #f0f0f0 !important;
  display: block !important;
  &.featured {
    background-position: 50% 51% !important;
    height: 350px !important;
  }
}
.post-card-image {
  background-position: 50% 49% !important;
  height: 172px !important;
}

@media screen and (max-width: 767px) {
  .post-card-image.featured {
    height: 170px !important;
  }
}

.kg-card.kg-image-card {
  max-width: 100%;
}

.post-feature-image {
  img {
    max-width: 100%;
  }
}

.post-content {
  position: relative;
  margin: 0 auto;
  padding: 0 170px 6vw;
  min-height: 230px;
  // font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 1.6em;
  background: #fff;
  font-size: 1.25rem;
  color: #313b3f;
  em {
    // display: block;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
    // font-family: $robotoLight;
    font-weight: bold;
    font-style: italic;
  }
  p {
    margin: 0 0 1.5em;
  }
  figure {
    margin: 0.8em 0 2.3em;
  }
  .kg-image {
    margin: 0 auto;
    max-width: 100%;
  }
  img,
  video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: auto;
  }
  ol {
    padding-left: 1.3em;
    padding-right: 1.5em;
  }
  blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid green;
  }
  em,
  strong {
    color: #090a0b;
  }
  h3 {
    margin: 0.5em 0 0.2em;
    line-height: 1.3em;
    font-weight: 600;
  }
  code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400 !important;
    background: #e5eff5;
    border-radius: 3px;
    color: #090a0b;
    em {
      display: inline;
    }
  }
  figcaption {
    margin: 1em auto 0;
    color: #5d7179;
    font-size: 75%;
    line-height: 1.5em;
    text-align: center;
    max-width: 1040px;
  }
  .post-full-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 25px 0 50px;
    background: #e3e9ed;
    border-radius: 3px;
    img {
      max-width: 1040px;
      width: 100%;
      height: auto;
    }
  }
}

.post-details {
  text-align: left;
  word-break: break-word;
  width: 100%;
  .post-full-header {
    position: relative;
    margin: 0 auto;
    padding: 70px 170px 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .post-full-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #738a94;
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .post-full-title {
    margin: 0 0 0.2em;
    color: #090a0b;
    font-size: 2.3rem;
  }
  .post-full-custom-excerpt {
    margin: 20px 0 0;
    color: #738a94;
    font-family: Georgia, serif;
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 300;
  }
  .post-full-byline {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
    padding-top: 25px;
    border-top: 1px solid #e3e9ed;
  }
  .author-profile-image,
  .avatar-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00aa13;
    color: #ffffff;
    margin-bottom: 0;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .author-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: 40px;
    height: 40px;
    // border: 2px solid #fff;
    border-radius: 100%;
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.7s;
  }
  .author-list {
    justify-content: flex-start;
    padding: 0 12px 0 0;
  }
  .author-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
  }
  .post-full-byline-meta {
    margin: 2px 0 0;
    color: #92a3ab;
    font-size: 0.785rem;
    line-height: 1.2em;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  .post-full-byline-meta h4 {
    margin: 0 0 3px;
    font-size: 0.875rem;
    line-height: 1.4em;
    font-weight: 500;
  }
  .post-full-byline-content {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  .post-full-byline-content .author-list {
    justify-content: flex-start;
    padding: 0 12px 0 0;
  }
  .post-full-byline-meta h4 a {
    color: #2b2f36;
  }
  .post-full-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 25px 0 50px;
    border-radius: 3px;
  }
  .post-full-image img {
    max-width: 1040px;
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .post-full-content h1 {
    margin: 0.5em 0 0.4em;
    font-size: 1.875rem;
    line-height: 1.25em;
    font-weight: bold;
  }
  .post-full-content a {
    color: #313b3f;
    border-bottom: 1px solid #313b3f;
  }
  .kg-bookmark-card {
    width: 100%;
    .img {
      margin: 0 !important;
    }
  }
  .post-full-content .kg-bookmark-container,
  .post-full-content .kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
  }
  .post-full-content .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Open Sans, Helvetica Neue, sans-serif;
    border-radius: 3px;
  }
  .kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }
  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
  }
  .kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
  }
  .kg-bookmark-title {
    color: #303a3e;
    font-size: 0.875rem;
    line-height: 1.5em;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
  }
  .kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: #5c7078;
    font-size: 0.875rem;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: var(--darkgrey);
    font-size: 1.25rem;
    font-weight: 500;
  }
}
.posts hr {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.posts .view-all {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: block;
}
@media (max-width: 500px) {
  .post-details {
    max-width: 100%;
    padding-bottom: 4vw;
    background: #fff;
    padding: 0 5vw;
    .post-full-header {
      padding: 20px 0 35px;
    }
    .post-full-title {
      margin-top: 0.2em;
      font-size: 4.2rem;
      line-height: 1.05em;
    }
    .post-full-image {
      margin-top: 5px;
      margin-bottom: 5vw;
    }
    .post-content {
      padding: 0;
    }
    .post-full-title {
      margin-top: 0.2em;
      font-size: 2.2rem;
      line-height: 1.05em;
    }
  }
}

@media (max-width: 800px) {
  .post-details {
    width: 100%;
    .post-full-header {
      padding-right: 5vw;
      padding-left: 5vw;
      padding-bottom: 5vw;
    }
    .post-content {
      padding: 0 5vw;
    }
    .post-full-image {
      margin-top: 0;
    }
  }
  .other-posts {
    margin-top: 30px;
  }
}
.read-next {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: #090a0b;
  opacity: 0.9;
}
.read-next-card {
  position: relative;
  flex: 0 1 326px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // margin: 0 25px 50px;
  padding: 25px;
  background: linear-gradient(#191b1f, #090a0b);
  border-radius: 3px;
}

.read-next-card-header h3 {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.785rem;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.read-next-card-content {
  font-size: 0.975rem;
}
.read-next-card-content ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.read-next-card-content h4 {
  margin: 0;
  font-size: 0.875rem;
  a {
    color: #fff;
  }
}
.read-next-card-meta {
  p {
    margin-top: 6px;
    font-size: 0.75rem;
  }
}

.read-next-card-footer a {
  padding: 7px 12px 8px 14px;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.875rem;
  border-radius: 999px;
  transition: all 0.35s ease-in-out;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}
.category {
  background-color: #e2f2d0;
  color: #00aa13;
  font-size: 1rem;
}
.category.active {
  background-color: #00aa13;
  color: #fff;
}
.post-margin {
  margin-bottom: 30px;
}

.articles .post-margin {
  margin-top: 30px;
  padding-top: 25px;
}

.post-full-content figure {
  margin: 0.8em 0 2.3em;
}
.kg-card.kg-embed-card.kg-card-hascaption {
  position: relative;
  iframe {
    position: relative !important;
  }
}
.text-green:hover {
  color: #009944;
}

.search-blog:focus {
  box-shadow: none;
}

.post-details {
  img,
  iframe {
    max-width: 100% !important;
  }
}
