// Brand Colors
$green-light: #00aa13;
$green-base: #008c15;
$green-lightest: #e2f2d0;
$red: #ee2737;
$orange-lightest: #ffa000;
$orange-base: #e35205;
$orange-light: #ff7f32;
$pink-base: #d0006f;
$pink-light: #df1995;
$blue: #00aed6;
$blue-light: #96d1df;
$purple: #93328e;
$purple-base: #720062;
$black: #2f2f2f;
$gray: #eee;
$teal: #004758;
$yellow-base: #e8ce11;
$yellow-light: #f7ce55;
$black: #101820;

$colors: (
  green: (
    base: $green-base,
    light: $green-light,
  ),
  red: (
    base: $red,
  ),
  orange: (
    base: $orange-base,
    light: $orange-light,
    lightest: $orange-lightest,
  ),
  pink: (
    base: $pink-base,
    light: $pink-light,
  ),
  blue: (
    base: $blue,
    light: $blue-light,
  ),
  purple: (
    base: $purple,
  ),
  gray: (
    base: $gray,
  ),
  teal: (
    base: $teal,
  ),
  yellow: (
    base: $yellow-base,
    light: $yellow-light,
  ),
  black: (
    base: $black,
  ),
);

@mixin color-modifiers(
  $attribute: 'background-color',
  $prefix: '-',
  $separator: '-',
  $base: 'base'
) {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      @each $tone, $hex in $color {
        &#{if($tone != $base, #{$separator}#{$tone}, '')} {
          #{$attribute}: $hex;
        }
      }
    }
  }
}
