@import './colors.scss';
@import './variables.scss';
@import './constants.scss';

body {
  overflow-x: hidden;
}
.container {
  max-width: 1000px;
  @media screen and(max-width: $sm-break) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.heading {
  font-size: $font-xl;
  font-family: $font-bold, sans-serif;
}
.heading-sm {
  font-size: $font-l;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;
}
.text-lead {
  font-size: $font-m;
  line-height: 1.7rem;
  font-family: $extended-book, sans-serif;
}

.link {
  font-size: $font-m;
  font-family: $font-bold, sans-serif;
  &:hover {
    color: $green-light;
  }
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
    font-family: $demi;
  }
}

.home {
  background: url('/img/home/home-banner.jpg') no-repeat center center;
  height: 80vh;
  background-size: cover;
  @media screen and (max-width: 576px) {
    background: url('/img/home/mobile-banner.jpg') no-repeat center center;
    height: 70vh;
    background-size: cover;
  }
}
.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .head {
    font-size: 2.812rem;
  }
}
.full-height-one {
  // height: calc(100vh - 56px);
  height: 100vh;
}

.main-nav.bg-transparent {
  .button {
    background-color: $white;
    color: $green-light;
    &:hover {
      background-color: $green-light;
      color: $white;
    }
  }
}
.main-nav.bg-white {
  .button {
    background-color: $green-light;
    color: $white;
  }
}

.main-nav {
  transition-duration: 0.8s;

  .navbar-brand img {
    height: 2rem;
  }

  .navbar-nav {
    align-items: center;
  }
  .blackNav {
    .nav-item {
      &.active {
        .nav-link {
          &.nav-links {
            &:after {
              border-top: 3px solid $black;
            }
          }
        }
      }
      .nav-link {
        color: $black;
      }
    }
  }
  .whiteNav {
    .nav-item {
      &.active {
        .nav-link {
          &.nav-links {
            &:after {
              border-top: 3px solid $white;
            }
          }
        }
      }
      .nav-link {
        color: $white;
      }
    }
  }
  .button {
    font-weight: bold;
    font-family: $demi, 'sans-serif';
    font-size: $font-s;
  }

  .nav-item {
    &.active {
      .nav-link {
        font-weight: bold;
        &.nav-links {
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 2rem;
            border-top: 3px solid $black;
            margin-top: 2px;
            border-radius: 1px;
          }
        }
      }
    }
    .nav-link {
      color: $black;
      font-size: $font-s;
      font-family: $font-bold, 'sans-serif';
      padding-bottom: 0;
    }
  }
}

section {
  .head {
    font-family: $extended-book, 'sans-serif';
    font-weight: bold;
  }
}

.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 50rem;
}

.overlay-icon {
  font-size: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prod-desc {
  font-size: 0.875rem;
  @media screen and (max-width: 576px) {
    font-size: 1rem;
  }
}

.products-button,
.products-expanded {
  border-radius: 1.8rem;
}

.cta {
  margin-top: -1px;
  .card {
    border-radius: 48px;
    font-size: 20px;
  }
}

.footer {
  margin-top: -1px;
  background-color: #101820;
  .list-inline-item {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
    position: relative;
    a {
      color: #ffffff;
    }
    i {
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .page-footer .footer .footer-logo {
      height: 30px !important;
    }
  }

  li {
    @media screen and (max-width: 576px) {
      font-size: 14px;
      font-family: 'Maison Nueue Book';
      line-height: 27px;
    }
    font-size: 0.875rem;
    font-family: $demi;
  }
  .contact {
    background-color: #000;
    border-radius: 1.5rem;
    .form-text {
      font-size: 20px;
      font-family: $demi;
      color: #bce194;
      @media screen and (max-width: 576px) {
        font-size: 1.25rem;
      }
    }
  }

  .phoneDropdown {
    .selected-flag,
    .open {
      border-radius: 50rem !important;
      background-color: transparent !important;
    }
  }
}

.smNav {
  min-height: 100vh;
  img {
    height: 2rem;
  }
}

.open-source {
  .outer {
    min-height: 500px;
  }
  .card {
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .text-lead {
    color: $dark-gray;
  }
}

// #openingsBlogs {
//   .text-lead {
//     font-family: $header-font;
//   }
//   @media screen and (max-width: 576px) {
//     .slick-prev,
//     .slick-next {
//       display: none !important;
//     }
//   }
// }

.product {
  p {
    font-size: 18px;
  }
}

// .slider-shilpa {
//   .slick-active {
//     margin-right: 10px;
//     &:not(.slick-current) {
//       margin-left: 10px;
//     }
//     &:last-child {
//       margin-right: 0px;
//     }
//   }
//   .media {
//     img {
//       max-width: 100px;
//     }
//   }
// }

// .single-card {
//   display: inline-block;
//   position: absolute;
//   text-align: center;
//   font-size: 1.875rem;
//   border-radius: 20px;
//   height: 530px;
// }

.blog-page {
  .banner-head {
    font-size: 2.75rem;

    @media screen and (max-width: 768px) {
      font-size: 1.75rem;
    }
  }

  .banner-sub-head {
    font-size: 1.125rem;

    @media screen and (max-width: 768px) {
      max-width: 21rem;
      margin: 0 auto;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 576px) {
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}

@media screen and (min-width: 2000px) {
  .banner {
    .image-container {
      min-height: 35rem;
    }
  }
}

@media screen and(max-width: 1999px) {
  .banner {
    .image-container {
      min-height: 15rem;
    }
  }
}

// .perks {
//   .card-columns {
//     grid-column-gap: 2rem;
//     column-gap: 2rem;
//     .card {
//       margin-bottom: 2.5rem;
//       padding: 2rem;
//     }
//   }
//   @media screen and(max-width: 576px) {
//     .heading-sm {
//       font-size: 1.125rem;
//       line-height: 1.6rem;
//     }
//     p {
//       font-size: 1rem;
//     }
//     .card-columns {
//       grid-column-gap: 1rem;
//       column-gap: 1rem;
//       column-count: 2;
//       .card {
//         margin-bottom: 1rem;
//         padding: 2rem 1rem;
//       }
//     }
//   }
// }

.footer-cta {
  border-radius: 3rem;
  .footer-img {
    background-repeat: no-repeat;
    background-image: url('/img/gojek-cta.svg');
    background-position: bottom right;
    border-radius: 3rem;
  }
}

// UPDATES
.featured {
  align-self: center;
  .slider {
    list-style: none;
    padding: 0;
  }
  .slider li {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    background-color: #00bcd4;
    display: flex;
    h2 {
      margin-top: auto;
      background: #fff;
      width: 100%;
      padding: 20px 20px;
      display: block;
      bottom: 0;
    }
  }
  .slider li:nth-child(n) {
    background-color: #3599db;
  }
  .slider li:nth-child(2n) {
    background-color: #e61b77;
  }
  .slider li:nth-child(3n) {
    background-color: #00bcd4;
  }
  .slider li:nth-child(4n) {
    background-color: #f4b251;
  }
  .slider li:nth-child(5n) {
    background-color: #8e4497;
  }
}

/* STACKED CARDS */
.stacked-cards {
  position: relative;
}
.stacked-cards ul {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  padding-left: 0;
}

.stacked-cards li {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0px #333;
  list-style: none;
  width: 65%;
  position: absolute;
  left: 50%;
  transition: 0.5s ease transform;
}

.stacked-cards li:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stacked-cards li img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 4;
}
.stacked-cards li.active {
  cursor: default;
  box-shadow: 0 5px 10px 0px #333;
  transition: 0.5s ease transform;
}

// Responsiveness
html {
  font-size: 14px;
}

@media screen and(min-width: $sm-break) {
  html {
    font-size: 14px;
  }
}

@media screen and(min-width: $md-break) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: $lg-break) {
}

@media screen and (min-width: $xl-break) {
}

// Daily needs

.daily-needs {
  color: $orange;
}
.daily-need-bg {
  background-color: $orange;
}

.swiper-button-next {
  background-image: url('/img/home/arrow-right.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: 0 !important;
}
.swiper-button-prev {
  background-image: url('/img/home/arrow-left.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

// To be removed
.ctaPurple {
  background-color: #904790;
  border-radius: $border-xl;
}
.ctaTitle {
  font-size: 1.75rem;
  font-family: $header-font;
  @media screen and (max-width: 576px) {
    font-size: 1.6rem;
  }
}
.ctaLink {
  font-size: 1.25rem;
  font-family: $title-font;
  color: #a1d884;
}
.readMore {
  font-size: 1.125rem;
  font-family: $title-font;
}
.ctaLink:hover {
  color: $green-base;
}

// About us page styles
.about-green-bg {
  background-color: #bce194;
}
.about-pink-bg {
  background-color: #ffb1bb;
}
.about-blue-bg {
  background-color: #bbdde6;
}
.about-purple-bg {
  background-color: #eedaea;
}
.about-orange-bg {
  background-color: #ffc27b;
}

.about-pattern-a {
  background-image: url('/img/about-us/about-pattern-a.svg');
}
.about-pattern-b {
  background-image: url('/img/about-us/about-pattern-b.svg');
}
.about-pattern-c {
  background-image: url('/img/about-us/about-pattern-c.svg');
}

.about-pattern-a,
.about-pattern-b,
.about-pattern-c {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3rem;

  @media screen and (min-width: 1920px) {
    background-image: none;
  }
}

.milestones {
  .link::after {
    content: url('/img/right-arrow.svg');
    padding-left: 0.5rem;
    vertical-align: middle;
    display: inline-block;

    @media screen and (max-width: 576px) {
      height: 16px;
      line-height: 16px;
    }
  }

  .desktop {
    .slick-dots {
      display: flex !important;
      background: white;
      bottom: 4rem;
      // bottom: 36px;
      max-width: 1000px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 32px;
      padding: 16px 32px;
      -ms-flex-pack: justify !important;
      -webkit-justify-content: space-between !important;
      justify-content: space-between !important;

      li {
        height: 24px;
        width: 24px;

        &::after {
          height: 0.25rem;
          position: absolute;
          content: ' ';
          left: 2rem;
          top: 0.675rem;
          right: 0;
          background: black;
          opacity: 0.25;
          width: 4rem;
          z-index: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        &.slick-active {
          button::before {
            text-align: center;
            width: 86px;
            content: '';
            background-image: url('/img/about-us/slider-indicator.svg');
            background-position: center;
            height: 48px;
            opacity: 1;
            border-radius: 32px;
            margin-top: -12px;
            margin-left: -32px;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          }
        }

        button::before {
          width: 24px;
          height: 24px;
          font-size: 16px;
          line-height: 24px;
          z-index: 1;
        }
      }
    }
    .slick-prev {
      left: 2rem;
      z-index: 1;
    }
    .slick-next {
      right: 2rem;
    }
  }

  .mobile {
    margin-top: 62px;

    .card {
      border-radius: 2.75rem;
      border: none;
      min-height: 480px;
    }

    .illustration {
      max-width: 224px;
      margin: 0 auto;
    }
    @media screen and (max-width: 576px) {
      .heading {
        font-size: 1.875rem;
      }
      .link {
        font-size: 18px;
      }
      .slick-dots {
        bottom: -50px;
        li {
          min-width: 0.5rem !important;
          button {
            min-width: 1px !important;
            width: 0.5rem;
            // margin: 0 1rem;
            border-radius: 50%;
            height: 4px;
            padding: 3px;
            background-color: #d2d2d2;
          }
          ::before {
            content: '';
            padding: 0;
          }
          &.slick-active {
            button {
              background-color: #00aa13;
            }
          }
        }
      }
    }
  }
}

// Search
.search-box {
  .input-group {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
  }
  .input-group-text {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }
  img {
    width: 14px;
    height: 14px;
  }
  .search {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
    &:focus {
      box-shadow: none;
    }
  }
}
.department {
  .css-1okebmr-indicatorSeparator,
  .css-1okebmr-indicatorSeparator {
    background-color: transparent !important;
  }
}

.css-26l3qy-menu {
  margin-top: 0 !important;
  border-radius: 10%;
}

.option-label {
  font-size: 0.875rem;
  font-family: 'Maison Nueue Book';
}

.css-1wa3eu0-placeholder {
  display: block;
}

.blog-card {
  a {
    font-size: 20px;
    font-family: $demi;
  }
}

.milestones {
  .slick-dots {
    bottom: 0;
  }
}

// Css for Products slick carousel - Home page
.gojek-products {
  @media screen and (min-width: $lg-break) {
    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }
  @media screen and(min-width: 993px) and (max-width: 1024px) {
    .slick-prev {
      left: 10px !important;
    }
    .slick-next {
      right: 10px !important;
    }
  }

  @media screen and(max-width: $md-break) {
    .slick-prev::before,
    .slick-next::before {
      font-size: 2.25rem;
    }
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: 10px;
    }
  }

  @media screen and (min-width: $sm-break) {
    .slick-prev,
    .slick-next {
      z-index: 10;
      &::before {
        color: #fff;
        opacity: 1;
      }
    }
  }
}

// CSS for Open source slick carousel - Home page

.opensource {
  .slick-slider {
    @media screen and (min-width: $lg-break) {
      .slick-prev {
        left: -3rem;
      }

      .slick-next {
        right: -3rem;
      }
    }
    .slick-dots {
      justify-content: center;
      li {
        min-width: 2rem !important;
        button {
          min-width: 1px !important;
          width: 2rem;
          margin: 0 1rem;
          border-radius: 5px;
          height: 4px;
          padding: 3px;
          background-color: #d2d2d2;
        }
        ::before {
          content: '';
          padding: 0;
        }
        &.slick-active {
          button {
            background-color: #101820;
          }
        }
      }
    }
  }
  .caption {
    h5 {
      bottom: 5%;
      padding-left: inherit;
      padding-right: inherit;
      left: 0;
      right: 0;
    }
  }
}

// CSS for Social media slick carousel for mobile device - Home page
.social-media {
  .slick-list {
    margin-left: 3rem;
  }

  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

// CSS for Values slick carousel - Life@GOjek

.values {
  .slide {
    align-items: flex-start;
  }
  @media screen and (max-width: 576px) {
    .slick-list {
      padding: 0 !important;
    }
  }
  .slick-slider {
    .slick-slide.slick-active {
      max-width: 540px;
    }
    .slick-dots {
      justify-content: center;
      @media screen and (min-width: 576px) {
        bottom: -6rem;
        margin-left: -8rem;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: -4rem !important;
      }
      li {
        min-width: 2rem !important;
        @media screen and (max-width: 576px) {
          margin-bottom: 1rem;
          min-width: 1rem !important;
        }
        button {
          min-width: 1px !important;
          width: auto;
          height: auto;
          @media screen and (min-width: 576px) {
            width: 2rem;
            margin: 0 1rem;
            height: 4px;
            border-radius: 5px;
          }
          border-radius: 50%;
          padding: 3px;
          background-color: #d2d2d2;
        }
        ::before {
          content: '';
          padding: 0;
        }
        &.slick-active {
          button {
            background-color: #101820;
          }
        }
      }
    }
    .slick-next {
      right: 50px;
    }
    .slick-prev {
      left: -100px;
    }
    .slick-next,
    .slick-prev {
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      text-align: center;
      height: 43px;
      width: 42px;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      &:before {
        font-size: 1.25rem;
        color: #494a4a;
      }
      @media screen and (max-width: 576px) {
        display: none !important;
      }
    }
    @media screen and (min-width: 2000px) {
      .slick-slide {
        max-width: 580px;
      }
    }
  }
}

// Blog search animation

.input-search {
  border-radius: 0;

  &::placeholder {
    opacity: 0; /* Firefox */
  }

  &:focus {
    border: none;
    border-bottom: 1px solid green;
    box-shadow: none;
  }
}
// label[for='search'] {
//   content: url('/img/blog/search.svg');
//   width: 1.5rem;
//   margin-right: 12px;
//   margin-bottom: 0;
//   transition: all 0.8s ease;
// }

.active-link {
  width: 100%;
  border-bottom: 1px solid green;
  right: 0;
  outline: none;
  &::placeholder {
    opacity: 1; /* Firefox */
  }
}

.search-btn {
  transition: all 0.8s ease;
}

.animate {
  right: 90%;
}
.social-media-section {
  .full-height {
    min-height: 60vh;
  }
}
.joinus-cta {
  background: linear-gradient(to bottom, #101020 0%, #101020 50%, #101020 50%, #fff 50%, #fff 100%);
}

// Whatsapp styles
// Whatsapp popup styles
.whatsappContainer {
  position: fixed;
  right: 5%;
  bottom: 1rem;
  z-index: 5000;
}
.whatsappPopup {
  float: right;
  img {
    width: 59px;
    height: 59px;
  }
}
.whatsAppPopover {
  min-height: 10rem;
  width: 100%;
  border-radius: 2rem;
  background-color: #000;
}

.whatsApp-close {
  bottom: 10%;
  position: absolute;
  right: 10%;
}
.formHeading {
  font-size: 20px;
  font-family: $demi;
  color: #bce194;
  @media screen and (max-width: 576px) {
    font-size: 1.25rem;
  }
}
.search-group {
  border: 0;
  border-radius: 0;
  &:after {
    content: '';
    display: block;
    border-left: 1px solid #b5b2b2;
    width: 90%;
  }
}

.tags-nav {
  &.sticky-top {
    top: 72px;
  }
}
