@import './colors.scss';
@import './variables.scss';
@import './constants.scss';

body {
  overflow-x: hidden;
}
.container {
  max-width: 1000px;
}

.heading {
  font-size: $font-xl;
  font-family: $font-bold, sans-serif;
}
.heading-sm {
  font-size: $font-l;
  font-family: $font-bold, sans-serif;
  line-height: 2.625rem;
}
.text-lead {
  font-size: $font-m;
  font-family: $extended-book, sans-serif;
}

.link {
  font-size: $font-m;
  font-family: $demi, sans-serif;
}

.home {
  background: url('/img/home/home-banner.png') no-repeat center center;
  height: 80vh;
  background-size: cover;
}
.banner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .head {
    font-size: 2.812rem;
  }
}
.full-height-one {
  // height: calc(100vh - 56px);
  height: 100vh;
}

.main-nav {
  transition-duration: 0.8s;

  .navbar-brand img {
    height: 2rem;
  }

  .navbar-nav {
    align-items: center;
  }
  .blackNav {
    .button {
      background-color: $green-light;
      color: $white;
    }
    .nav-item {
      &.active {
        .nav-link {
          &.nav-links {
            &:after {
              border-top: 3px solid $black;
            }
          }
        }
      }
      .nav-link {
        color: $black;
      }
    }
  }
  .whiteNav {
    .button {
      background-color: $white;
      color: $green-light;
    }
    .nav-item {
      &.active {
        .nav-link {
          &.nav-links {
            &:after {
              border-top: 3px solid $white;
            }
          }
        }
      }
      .nav-link {
        color: $white;
      }
    }
  }
  .button {
    font-weight: bold;
    font-family: $demi, 'sans-serif';
    font-size: $font-s;
  }

  .nav-item {
    &.active {
      .nav-link {
        font-weight: bold;
        &.nav-links {
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 2rem;
            border-top: 3px solid $black;
            margin-top: 2px;
            border-radius: 1px;
          }
        }
      }
    }
    .nav-link {
      color: $black;
      font-size: $font-s;
      font-family: $font-bold, 'sans-serif';
      padding-bottom: 0;
    }
  }
}

section {
  .head {
    font-family: $extended-book, 'sans-serif';
    font-weight: bold;
  }
}
.products {
  padding-top: 5rem;
  padding-bottom: 10rem;
  .head {
    font-size: 1.875rem;
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 5rem;
    .heading-sm {
      font-size: 1.25rem;
    }
  }
  @media screen and (min-width: 576px) {
    .slick-prev,
    .slick-next {
      z-index: 100;
      &::before {
        font-size: 1.25rem;
      }
    }
    .slick-next {
      right: 1%;
    }
    .slick-prev {
      left: 1%;
    }
  }

  .slick-slide {
    margin-top: 3rem;
    &.slick-active.slick-center.slick-current {
      .card-body {
        visibility: visible;
      }
    }
    .card-body {
      visibility: hidden;
    }
    .card {
      height: 27rem;
      border-radius: 52px;
      img {
        max-width: 150px;
      }
    }
    &.slick-active.slick-center {
      margin-top: 0;
      .card {
        min-height: 33rem;
      }
    }
  }
}

.bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 50rem;
}
.tech-facts {
  // .description {
  //   max-width: 450px;
  //   font-size: 30px;
  //   font-family: $extended-book, 'sans-serif';
  //   font-weight: bold;
  //   line-height: 42px;
  // }
  @media screen and (max-width: 576px) {
    .heading {
      font-size: 1.63rem;
    }
    .heading-sm {
      font-size: 1.5rem;
    }
  }

  .slick-prev,
  .slick-next {
    top: 12rem;
    &:before {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      padding: 7px;
      font-size: 1.2rem;
    }
  }
  .slick-prev {
    left: 6px;
  }
  .slick-next {
    right: 6px;
  }
  .card {
    border-radius: 52px;
  }
  .logo {
    border: 1px solid #979797;
    max-width: 200px;
    height: 70px;
    line-height: 65px;
  }
}
.social-media {
  .card {
    min-height: 225px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 52px;
  }
}
.overlay-icon {
  font-size: 5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prod-desc {
  font-size: 0.875rem;
}

.products-button,
.products-expanded {
  border-radius: 1.8rem;
}

.cta {
  margin-top: -1px;
  .card {
    border-radius: 48px;
    font-size: 20px;
  }
}

.footer {
  margin-top: -1px;
  background-color: #101820;
  .list-inline-item {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    height: 28px;
    width: 28px;
    position: relative;
    a {
      color: #ffffff;
    }
    i {
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
  }

  li {
    font-size: 1.25rem;
    @media screen and (max-width: 576px) {
      font-size: 0.875rem;
    }
  }
  .contact {
    background-color: #000;
    border-radius: 1.5rem;
    .form-text {
      font-size: 20px;
      font-family: $demi;
      color: #bce194;
    }
  }

  .phoneDropdown {
    .selected-flag,
    .open {
      border-radius: 50rem !important;
      background-color: transparent !important;
    }
  }
}

.smNav {
  min-height: 100vh;
}

.open-source {
  .outer {
    min-height: 500px;
  }
  .card {
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .text-lead {
    color: $dark-gray;
  }
}

.funding {
  .description {
    font-family: $maisonbook, sans-serif;
    color: #303030;
  }
}

.values-slider {
  .slick-slide {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

#openingsBlogs {
  .text-lead {
    font-family: $header-font;
  }
  @media screen and (max-width: 576px) {
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }
}

@media screen and (min-width: 2000px) {
  .pointers {
    margin-bottom: 5rem;
  }
}
.product {
  p {
    font-size: 18px;
  }
}

.life-at-gojek {
  background: url('/img/life-at-gojek/banner.png') no-repeat center right;
  background-size: cover;
  background-position: center;

  .bannerHeading {
    font-size: 2.82rem;
  }

  .heading-sm {
    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

.slider-shilpa {
  .slick-active {
    margin-right: 10px;
    &:not(.slick-current) {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  .media {
    img {
      max-width: 100px;
    }
  }
}

.single-card {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 1.875rem;
  border-radius: 20px;
  height: 530px;
}

.social-impact {
  h1 {
    font-family: $extended-book;
  }
}

.values {
  .slide {
    align-items: flex-start;
  }
  @media screen and (max-width: 576px) {
    .slick-list {
      padding: 0 !important;
    }
  }
  img {
    max-width: 175px;
    margin-right: 3rem;
    @media screen and (max-width: 576px) {
      max-width: 100px;
      margin-right: 1rem;
    }
  }

  .text-lead {
    font-family: $header-font;
  }

  .slick-slider {
    .slick-slide.slick-active {
      max-width: 540px;
    }
    .slick-dots {
      justify-content: center;
      @media screen and (min-width: 576px) {
        bottom: -6rem;
        margin-left: -8rem;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: -4rem !important;
      }
      li {
        min-width: 2rem !important;
        @media screen and (max-width: 576px) {
          margin-bottom: 1rem;
          min-width: 1rem !important;
        }
        button {
          min-width: 1px !important;
          @media screen and (min-width: 576px) {
            width: 2rem;
            margin: 0 1rem;
            height: 4px;
            border-radius: 5px;
          }
          border-radius: 50%;
          padding: 3px;
          background-color: #d2d2d2;
        }
        ::before {
          content: '';
          padding: 0;
        }
        &.slick-active {
          button {
            background-color: #101820;
          }
        }
      }
    }
    .slick-next {
      right: 50px;
    }
    .slick-prev {
      left: -100px;
    }
    .slick-next,
    .slick-prev {
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      text-align: center;
      height: 43px;
      width: 42px;
      border: 1px solid #e0e0e0;
      border-radius: 50%;
      &:before {
        font-size: 1.25rem;
        color: #494a4a;
      }
      @media screen and (max-width: 576px) {
        display: none !important;
      }
    }
    @media screen and (min-width: 2000px) {
      .slick-slide {
        max-width: 580px;
      }
    }
  }
  .swiper-slide {
    width: 510px !important;
    margin-left: -50px;
    &.swiper-slide-prev {
      width: auto !important;
      margin-left: 0;
      margin-right: 0 !important;
    }
    &.swiper-slide-active {
      margin-left: 0;
    }
    &.swiper-slide-next {
      margin-left: 0;
    }
  }
}

.blog-page {
  @media screen and (max-width: 576px) {
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}

// @media screen and(min-width: $md-break) {
//   .bg {
//     max-height: auto;
//   }
//   .pointers {
//     padding-top: 10rem;
//   }
// }

// @media screen and (min-width: $lg-break) {
//   .pointers {
//     padding-top: 20rem;
//   }
// }

// @media screen and (min-width: $xl-break) {
//   .pointers {
//     padding-top: 30rem;
//   }
// }

@media screen and (min-width: 2000px) {
  .banner {
    .image-container {
      min-height: 35rem;
    }
  }
}

@media screen and(max-width: 1999px) {
  .banner {
    .image-container {
      min-height: 15rem;
    }
  }
}

.pointers {
  ul {
    list-style-type: square;
  }
  li {
    font-size: 18px;
    &:before {
      font-size: 100px;
    }
  }
}
.perks {
  .card-columns {
    grid-column-gap: 2rem;
    column-gap: 2rem;
    .card {
      margin-bottom: 2.5rem;
      padding: 2rem;
    }
  }
  @media screen and(max-width: 576px) {
    .heading {
      font-size: 1.625rem;
    }
    .heading-sm {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    p {
      font-size: 0.875rem;
    }
    .card-columns {
      grid-column-gap: 1rem;
      column-gap: 1rem;
      column-count: 2;
      .card {
        margin-bottom: 1rem;
        padding: 2rem 1rem;
      }
    }
  }
}
.footer-cta {
  border-radius: 3rem;
  .footer-img {
    background-repeat: no-repeat;
    background-image: url('/img/gojek-cta.svg');
    background-position: bottom right;
    border-radius: 3rem;
  }
}

.gojek-bg {
  background-image: url('/img/home/gojek-bg.svg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

// UPDATES
.featured {
  align-self: center;
  .slider {
    list-style: none;
    padding: 0;
  }
  .slider li {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    background-color: #00bcd4;
    display: flex;
    h2 {
      margin-top: auto;
      background: #fff;
      width: 100%;
      padding: 20px 20px;
      display: block;
      bottom: 0;
    }
  }
  .slider li:nth-child(n) {
    background-color: #3599db;
  }
  .slider li:nth-child(2n) {
    background-color: #e61b77;
  }
  .slider li:nth-child(3n) {
    background-color: #00bcd4;
  }
  .slider li:nth-child(4n) {
    background-color: #f4b251;
  }
  .slider li:nth-child(5n) {
    background-color: #8e4497;
  }
}

/* STACKED CARDS */
.stacked-cards {
  position: relative;
}
.stacked-cards ul {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  padding-left: 0;
}

.stacked-cards li {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0px #333;
  list-style: none;
  width: 65%;
  position: absolute;
  left: 50%;
  transition: 0.5s ease transform;
}

.stacked-cards li:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stacked-cards li img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 4;
}
.stacked-cards li.active {
  cursor: default;
  box-shadow: 0 5px 10px 0px #333;
  transition: 0.5s ease transform;
}
