@import './node_modules/slick-carousel/slick/slick.scss';
@import './node_modules/slick-carousel/slick/slick-theme.scss';
@import '~/../../utils/styles/constants.scss';

.bg {
  @include color-modifiers;
}

.text {
  @include color-modifiers('color');
}

body {
  font-family: $body-font;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.full-height {
  min-height: 100vh;
}

.homeBannerImage {
  @media screen and (min-width: $lg-break) {
    margin-left: -25rem;
  }
}

.banner {
  &-head {
    font-size: $font-xxl;
    font-family: $header-font;
  }

  &-img {
    max-height: 500px;
  }
}

.header {
  font-size: $font-xxl;
  font-family: $header-font;
}

.sub-head {
  font-size: $font-l;
  font-family: $title-font;
}

.link {
  font-size: $font-m;
  font-family: $title-font;
  &:hover {
    color: inherit;
  }
}

#vision,
#scale {
  padding: 10rem 0;
  .card {
    border-radius: 2.75rem;
    border: none;

    .illustration {
      margin-top: -1.5rem;
      z-index: 1;
    }

    .location {
      border-radius: 2rem 2rem 0 0;
    }
  }
  .highlight {
    // border-radius: 2.75rem;
    border-bottom-left-radius: 2.75rem;
    border-bottom-right-radius: 2.75rem;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
  }
}

.locations {
  .card {
    border-radius: 2.75rem;
    min-height: 196px;

    .illustration {
      max-width: 175px;
    }
  }
  .highlight {
    border-radius: 0;
  }
}

.investors {
  .logo {
    max-width: 124px;
  }
  @media screen and (min-width: $md-break) {
    .logo {
      margin-right: 4rem;
    }
  }
}

#products {
  &.transport {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 65%,
      #fff 65%,
      $green-light 65%,
      $green-light 100%
    );
  }
  &.payments {
    background: linear-gradient(to bottom, #fff 0%, #fff 65%, #fff 65%, $blue 65%, $blue 100%);
  }
  &.food-delivery {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 65%,
      #fff 65%,
      $orange-light 65%,
      $orange-light 100%
    );
  }
  &.logistics {
    background: linear-gradient(to bottom, #fff 0%, #fff 65%, #fff 65%, $red 65%, $red 100%);
  }
  &.entertainment {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 65%,
      #fff 65%,
      $pink-light 65%,
      $pink-light 100%
    );
  }
  &.lifestyle-services {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 65%,
      #fff 65%,
      $yellow-light 65%,
      $yellow-light 100%
    );
  }

  .card {
    border-radius: 4rem;
    border: 1px solid #eee;
    margin: 25px;
  }

  .partner-logos {
    max-width: 384px;

    .logo {
      width: 128px;
    }
  }
}

.yellow-bg-gradient {
  background: $yellow-light linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #e18700);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 140vh;
  width: 100%;
  z-index: -1;
}

.form-control {
  padding: 1rem 1.5rem;
  height: inherit;
  border: none;
  font-family: $navbar-font;
  font-size: 0.875rem;
  line-height: normal;
}

#departments {
  .card-columns {
    column-count: 2;

    .card {
      border: none;
      border-radius: $border-xl;
      padding: 1.5rem 2rem;
      height: 15rem;
      margin-bottom: 1.875rem;
      position: relative;

      &.highlight {
        height: 32rem;
        // margin-bottom: 1.25rem;

        .card-body {
          position: absolute;
          bottom: 0;
        }
      }

      .header {
        max-width: 384px;
      }

      .sub-head {
        font-family: $navbar-font;
        font-size: $font-m;
      }
    }
  }
}

#locations {
  .card {
    min-height: 20rem;
    background-color: #dcdada;
    border: none;
    border-radius: $border-xl;
  }
}

.teams-banner {
  background-image: linear-gradient(to bottom, #101820 0% 50%, #ffffff 50%);
}

#blogs {
  .card {
    border: none;

    .placeholder {
      min-height: 16rem;
      background-color: #dcdada;
      border: none;
      border-radius: $border-xl;
    }
  }
}

#funding {
  background-repeat: no-repeat;
  background-position: left;
  @media screen and (min-width: $xl-break) {
    .desc {
      margin-right: 10rem;
    }
  }
}

// Slick Slider
.slick-next:before,
.slick-prev:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1.25rem;
  color: #404040;
}

.slick-prev:before {
  content: '\f053';
}

.slick-next:before {
  content: '\f054';
}

// .slick-slide {
//   padding-left: 3rem;
// }

.slick-dots {
  display: flex !important;
  justify-content: space-around;
  @media screen and (max-width: $lg-break) {
    flex-wrap: wrap;
    margin-bottom: -2rem;
  }

  li {
    min-width: 10rem;
    color: #fff;
    font-weight: normal;
  }
  .slick-active {
    opacity: 1;
    font-family: $title-font;

    &:after {
      content: '';
      display: block;
      width: 25%;
      margin: 0.5rem auto;
      border-bottom: 1px solid #fff;
    }
  }
}

#impact-stories-carousel {
  .carousel-indicators {
    margin: 0;
    bottom: -4rem;

    li {
      flex: 1 1 auto;
    }
  }
}

// Jobs Css
.job {
  thead {
    border-bottom: 1px solid #979797;
  }
  th,
  .view-jobs {
    font-family: $header-font;
  }
  tr:nth-child(even) {
    background: #f2f2f2;
  }

  tr:nth-child(odd) {
    background: #fff;
  }
}

.social-media {
  .btn {
    width: 2rem;
    height: 2rem;
    padding-left: 0;
    padding-right: 0;

    .fab {
      display: block;
      text-align: center;
    }
  }
}

#open-source {
  background: linear-gradient(to bottom, #fff 0%, #fff 60%, $green-light 40%);
  .card {
    height: 15rem;
    background-color: #dcdada;
    border: 1px solid #dcdada;
    border-radius: 2.25rem;
  }
  .highlight {
    color: #fff;
    text-align: center;
  }
  .slick-slide {
    margin-top: 3rem;
  }
  .slick-slide.slick-active.slick-center {
    margin-top: 0;
    .card {
      height: 20rem;
    }
    // height: 20rem !important;
    // margin-top: 0;
  }

  .cta {
    padding-top: 7rem;
  }
}

// Blog
.articles {
  color: #191919;
  .main {
    h1 {
      font-size: $font-l;
    }
    .description {
      color: #707070;
      font-size: 1rem;
    }
  }
  .title {
    font-family: $header-font;
  }
  .description,
  .meta {
    font-size: $font-s;
  }
  .date-time {
    color: #929292;
  }
  .card {
    &,
    .card-img-top {
      border-radius: $border-xl;
    }
  }
  .badge {
    background-color: $green-lightest;
    padding: 0.875rem 2.5rem;
    color: $green-light;
  }
}

#categories {
  .card {
    border-radius: $border-xl;
    margin-bottom: 2rem;
    font-family: $header-font;
    min-height: 200px;
  }
  .name {
    font-size: $font-m;
  }
}

.tag {
  position: absolute;
  background-color: $green-light;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem 1rem 1rem 0;
  margin-left: -5px;
}
.featured-article {
  border-radius: $border-xl;
}
