@import './node_modules/slick-carousel/slick/slick.scss';
@import './node_modules/slick-carousel/slick/slick-theme.scss';
@import '~/../../utils/styles/constants.scss';

@function selectAllFrom($n, $selector) {
  $classes: ();
  @for $i from 1 through $n {
    $className: if($i == 1, #{$selector}, #{'~ ' + $selector});
    $classes: join($classes, unquote($className), space);
  }
  @return $classes;
}

.bg {
  @include color-modifiers;
}

.text {
  @include color-modifiers('color');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font !important;
}

// navbar styles
.menu {
  .menuItem {
    font-family: $navbar-font;
    font-size: $font-s;
    opacity: 0.8;

    &.menuActive {
      opacity: 1;
      // font-family: $header-font;
      @media screen and (min-width: $lg-break) {
        &:after {
          content: '';
          display: block;
          width: 2rem;
          margin: 0 0.5rem;
          border-top: 2px solid #000;
        }
      }
    }

    .menuLink {
      color: #000;
    }

    &:hover {
      @media screen and (min-width: $lg-break) {
        &:after {
          content: '';
          display: block;
          width: 2rem;
          margin: 0 0.5rem;
          border-top: 2px solid #000;
        }
      }
    }
  }

  &.light {
    .menuItem {
      &.menuActive {
        &:after {
          border-color: #fff;
        }
      }

      &:hover {
        @media screen and (min-width: $lg-break) {
          &:after {
            border-color: #fff;
          }
        }
      }

      .menuLink {
        color: #fff;
      }
    }
  }

  .joinUs {
    font-family: $header-font;
    // font-size: $font-s;
  }
}
.navbarShadow {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.full-height {
  min-height: 100vh;
}

.homeBannerImage {
  @media screen and (min-width: $lg-break) {
    margin-left: -25rem;
  }
}

.banner {
  &-head {
    font-size: $font-xxl;
    font-family: $header-font;
  }

  &-img {
    max-height: 500px;
  }
}

.header {
  font-size: $font-xxl;
  font-family: $header-font;
}

.sub-head {
  font-size: $font-l;
  font-family: $title-font;
}

.link {
  font-size: $font-m;
  font-family: $title-font;
  &:hover {
    color: inherit;
  }
}

// to avoid outline to slick slides
.slick-slide {
  div:nth-child(1) {
    div:nth-child(1) {
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.vision {
  .card {
    border-radius: 2.75rem;
    border: none;

    .illustration {
      margin-top: -1.5rem;
      z-index: 1;
      margin-bottom: -11rem;
    }

    .location {
      border-radius: 2rem 2rem 0 0;
    }
  }
  .highlight {
    // border-radius: 2.75rem;
    border-bottom-left-radius: 2.75rem;
    border-bottom-right-radius: 2.75rem;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    opacity: 0.8;
  }
}

.locations {
  .card {
    border-radius: 2.75rem;
    min-height: 196px;

    .illustration {
      max-width: 175px;
    }
  }
  .highlight {
    border-radius: 0;
  }
}

.investors {
  .logo {
    max-width: 124px;
  }
  @media screen and (min-width: $md-break) {
    .logo {
      margin-right: 4rem;
    }
  }
}

#products {
  &.transport {
    background: linear-gradient(
      to bottom,
      $green-light 0%,
      $green-light 50%,
      $green-light 50%,
      #fff 50%,
      #fff 100%
    );
  }
  &.payments {
    background: linear-gradient(to bottom, $blue 0%, $blue 50%, $blue 50%, #fff 50%, #fff 100%);
  }
  &.food-delivery {
    background: linear-gradient(
      to bottom,
      $orange-light 0%,
      $orange-light 50%,
      $orange-light 50%,
      #fff 50%,
      #fff 100%
    );
  }
  &.logistics {
    background: linear-gradient(to bottom, $red 0%, $red 50%, $red 50%, #fff 50%, #fff 100%);
  }
  &.entertainment {
    background: linear-gradient(
      to bottom,
      $pink-light 0%,
      $pink-light 50%,
      $pink-light 50%,
      #fff 50%,
      #fff 100%
    );
  }
  &.lifestyle-service {
    background: linear-gradient(
      to bottom,
      $yellow-light 0%,
      $yellow-light 50%,
      $yellow-light 50%,
      #fff 50%,
      #fff 100%
    );
  }

  .card {
    border-radius: 5.3rem;
    border: 1px solid #eee;
    margin: 25px;
    .sub-head {
      font-family: $header-font;
    }
  }

  .shadowCard {
    background-color: #eee;
    position: absolute;
    left: -13%;
    top: 0;
    width: 108%;
    height: 88%;
    z-index: -1;
    @media screen and (min-width: $md-break) {
      left: -11%;
    }
    @media screen and (min-width: $lg-break) {
      left: -8%;
    }
  }

  .slick-dots {
    bottom: -50px;
    opacity: 0.8;
    a {
      padding: 10px;
      font-family: $body-font;
      border-radius: 20px;
      font-size: 14px;
    }
    .slick-active {
      opacity: 1;
      a {
        border: 1px solid;
        font-family: $header-font;
      }
    }
  }

  .partner-logos {
    max-width: 384px;

    .logo {
      width: 128px;
    }
  }
}

#insta-stories {
  > :first-child {
    > :first-child {
      border-radius: 52px;
      height: 360px !important;
      background: none !important;
      > :first-child {
        bottom: -7.3rem;
        filter: none;
        div {
          height: 4px !important;
          border-radius: 2px;
        }
      }
    }
  }

  img {
    border-radius: 52px;
  }
}

.blackBackground {
  background-color: #000;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

.teamsJobs {
  background: linear-gradient(to bottom, #000 10rem, #fff 10rem);
}

.yellow-bg-gradient {
  // background: $yellow-light linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, #e18700);
  // background-repeat: no-repeat;
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 107vh;
  // width: 100%;
  // z-index: -1;
  background: #f7ce55 -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), to(#e18700));
  background: #f7ce55 linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #e18700);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 120vh;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 2000px) {
  .yellow-bg-gradient {
    background: #f7ce55 linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, #e18700);
    height: 150vh;
  }
}
@media screen and (min-width: 2000px) {
  .yellow-bg-gradient {
    height: 90vh;
  }
  .full-height {
    min-height: 60vh;
  }
}

.filter-badge {
  font-size: $font-s;
  border-radius: 8px;
  background-color: #fbf0d7;
  &:hover {
    background-color: #cdc3ad;
  }
}

.clearIcon,
.pointer {
  cursor: pointer;
}

.jobCard {
  color: #696969;
  &:hover {
    background-color: #eee !important;
    color: #242424;
  }
}
.form-control {
  padding: 1rem;
  height: inherit;
  border: none;
  font-family: $navbar-font, 'Font Awesome 5 Free';
  font-size: 0.875rem;
  line-height: normal;
}

.select__control {
  border: none !important;
  border-radius: 50rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 0.6rem;
  &:hover {
    border: none !important;
  }

  &:focus {
    border: none !important;
  }
}

.select__menu {
  scrollbar-width: 1px;
  margin-top: 0;
  padding: 1rem 0.3rem;
  border-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;

  .select__menu-list {
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #9e9e9e;
      border-radius: 10px;
    }
  }
}

#departments {
  .departments {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .card-columns {
    column-count: 2;
    @media screen and (max-width: $sm-break) {
      column-count: 1;
    }
    .card {
      border: none;
      border-radius: $border-xl;
      padding: 1.5rem 2rem;
      min-height: 15rem;
      margin-bottom: 1.875rem;
      position: relative;
      text-decoration: none;

      &.highlight {
        height: 32rem;
        // margin-bottom: 1.25rem;

        .card-body {
          position: absolute;
          bottom: 0;
        }
      }

      .header {
        max-width: 384px;
        // font-size: 2.6rem;
      }
      @media screen and (max-width: $md-break) {
        .header {
          font-size: $font-m;
        }
      }

      .sub-head {
        font-family: $navbar-font;
        font-size: $font-m;
      }
    }

    .department0 {
      background-color: #00aa13;
    }
    .department1 {
      background-color: #ff7f32;
    }
    .department2 {
      background-color: #ff808b;
    }
    .department3 {
      background-color: #7ccc6c;
    }
    .department4 {
      background-color: #d48bc8;
    }
    .department5 {
      background-color: #32ebe1;
    }
  }
}

#teams {
  .card {
    min-height: 20rem;
    border: none;
    outline: none !important;
    border-radius: $border-xl;
    min-height: 430px;
  }
  @media screen and (min-width: $md-break) {
    .slick-slider {
      margin-left: 4rem;
    }
    .slick-prev {
      display: none !important;
    }
  }

  @media screen and (min-width: $lg-break) {
    .slick-slider {
      margin-left: 10rem;
    }
    .slick-list {
      padding-right: 100px !important;
      padding-left: 0px !important;
    }
  }

  @media screen and (min-width: 2000px) {
    .slick-slider {
      width: 1140px;
      margin: auto;
    }
  }

  .slick-next {
    right: 3.2rem;
  }

  .locationPadding {
    // padding-top: 5rem;
    // padding-bottom: 5rem;
    color: #515151;
  }
}

.teams-banner {
  .heading {
    font-size: 30px;
  }
}

#blogs,
#stories,
#openingsBlogs {
  .list {
    padding-top: 7rem;
  }
  .card {
    border: none;

    .placeholder {
      min-height: 16rem;
      background-color: #dcdada;
      border: 1px sold #eee;
      border-radius: $border-xl;
    }

    .card-name {
      // font-size: 1.125rem;
      line-height: 28px;
    }
  }
}

#funding {
  @media screen and (min-width: $lg-break) {
    background-repeat: no-repeat;
    background-position: left;
    background: linear-gradient(to right, #f7ce55 40%, #f7ce55 40%, #fff 0%, #fff 65%, #fff 65%);
  }
}

// Slick Slider
.slick-next:before,
.slick-prev:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 2.5rem;
  color: #404040;
}

.slick-prev:before {
  content: '\f053';
}

.slick-next:before {
  content: '\f054';
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

@media screen and (min-width: $sm-break) {
  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }
}

// .slick-slide {
//   padding-left: 3rem;
// }

.slick-dots {
  display: flex !important;
  justify-content: space-around;
  @media screen and (max-width: $lg-break) {
    flex-wrap: wrap;
    margin-bottom: -2rem;
  }

  li {
    min-width: 9rem;
    color: #fff;
    font-weight: normal;
  }
  .slick-active {
    opacity: 1;
    font-family: $title-font;

    &:after {
      content: '';
      display: block;
      width: 25%;
      margin: 0.5rem auto;
      border-bottom: 1px solid #fff;
    }
  }
}

#impact-stories-carousel {
  .carousel-indicators {
    margin: 0;
    bottom: -4rem;

    li {
      flex: 1 1 auto;
    }
  }
}

// Jobs Css

.bg-careers {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #e18700);
}
.job {
  thead {
    border-bottom: 1px solid #979797;
  }
  th,
  .view-jobs {
    font-family: $header-font;
  }
  tr:nth-child(even) {
    background: #f2f2f2;
  }

  tr:nth-child(odd) {
    background: #fff;
  }
  @media screen and (max-width: $md-break) {
    .tableHeading {
      display: none;
    }
  }
}
// #job-list {
//   min-height: 40vh;
// }

.listings {
  box-shadow: 0 0 82px 0 rgba(0, 0, 0, 0.12);
}

.social-media {
  .btn {
    width: 2rem;
    height: 2rem;
    padding-left: 0;
    padding-right: 0;

    .fab {
      display: block;
      text-align: center;
    }
  }
}

#open-source {
  hr {
    width: 10%;
    height: 2px;
    background-color: #fff;
  }
  background: linear-gradient(to bottom, #fff 0%, #fff 55%, $blue 45%);
  .card {
    height: 15rem;
    border-radius: 2.25rem;
  }
  .highlight {
    color: #fff;
    text-align: center;
    position: relative;
    bottom: -62px;
  }
  .slick-slide {
    margin-top: 3rem;
  }
  .slick-prev,
  .slick-next {
    top: 150px;
  }

  #{selectAllFrom(2, '.slick-active')} {
    margin-top: 0;
    .card {
      height: 20rem;
    }
    .highlight {
      bottom: -30px;
      &:after {
        content: '';
        display: block;
        width: 10%;
        margin: 12px auto;
        border-top: 2px solid #fff;
      }
    }
  }

  #{selectAllFrom(3, '.slick-active')} {
    margin-top: 3rem;
    .card {
      height: 15rem;
    }
    .highlight {
      bottom: -62px;
      &:after {
        display: none;
      }
    }
  }

  .cta {
    padding-top: 7rem;
  }
}

.jobDescription {
  .banner {
    height: 75vh;
  }
  .description {
    margin-top: 7rem;

    .title {
      font-family: $header-font;
    }
    .apply {
      @media screen and (min-width: $xl-break) {
        padding-left: 8rem;
      }
      .applyText {
        margin-top: 9rem;
      }
      .card {
        min-height: 10rem;
        background-color: #dcdada;
        border: none;
        border-radius: $border-xl;
      }
    }
  }
}

// life&gojek page
.bannerBold {
  font-family: $title-font;
}

#stories,
#systems,
#openingsBlogs {
  .heading {
    font-family: $header-font;
    font-size: 1.875rem;
    line-height: 42px;
  }
}

#stories {
  padding-top: 7rem;
  padding-bottom: 5rem;

  .description {
    font-size: 1.875rem;
  }
}

#systems,
#openingsBlogs {
  .banner {
    background-color: rgba(116, 210, 231, 0.3);
    border-radius: 2rem;
    padding: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

#cards,
#feedback {
  .cards {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .card-columns {
    // column-count: 3;
    // @media screen and (max-width: $sm-break) {
    //   column-count: 1;
    // }
    .card {
      border: none;
      min-height: 15rem;
      margin-bottom: 2.5rem;
      position: relative;
      background-color: transparent;

      .card-content {
        border-radius: 2.5rem;
        height: 100%;
      }

      .feedback {
        background-color: #000;
      }
    }
  }
}

#openingsBlogs {
  // background: linear-gradient(to bottom, #101820 13%, #fff 13%);
  .blogHeading {
    font-size: 1.25rem;
  }
  .blogDescription {
    font-size: 14px;
    color: #575757;
  }
}

#blogs {
  #banner {
    min-height: 70vh;
  }

  .card-img-top {
    border-radius: $border-xl;
  }

  .main-article {
    .title {
      font-size: 2.2rem;
      font-family: $header-font;
    }
  }

  .article {
    .title {
      font-size: $font-m;
      font-family: $header-font;
    }
  }

  .description,
  .date-time {
    color: #707070;
  }

  .meta {
    font-size: $font-s;
  }

  #featured-articles {
    .header {
      font-size: 2.2rem;
    }
  }

  #first-article {
    .firstArticleBg {
      background-color: #904790;
      border-radius: $border-xl;
    }
  }
}

.main-article {
  .read-more {
    color: #a1d884;
  }
  .article-title {
    font-family: $header-font;
    line-height: 42px;
  }
}
a:hover {
  text-decoration: none;
}

.test {
  .test1 {
    max-width: 7%;
    background: #38434d;
    float: left;
    padding: 0.2em;
    margin: 0.1em 0 0 3em;
    position: relative;
  }
  nav > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    /* styling the border of the pseudo-element the same as the nav element: */
    border: 1px solid darkred;
    /* 'removing' the top-border */
    border-top-width: 0;
  }
}
.scale {
  img {
    border-radius: 44px;
  }
}
.funding {
  .logo {
    max-height: 60px;
    border-radius: 2.875rem;
    border-color: #979797;
  }
}

.slick-slide .project .details {
  display: none;
}

.slick-center .project .details {
  display: block;
}

.footer-cta {
  background-color: #00aa13;
}

.linkedIn {
  background-color: #924e8c;
  border-radius: 48px;
  p {
    font-size: 11px;
  }
}
