@import './constants.scss';

// .head {
//   font-size: 2.8125rem;
//   font-family: $header-font;
//   margin-bottom: 1.5rem;
// }
.subhead {
  font-size: 1.875rem;
  font-family: $header-font;
}

.link {
  font-family: $title-font;
  font-size: 1.25rem;
}

.home-banner {
  background-image: url('/img/home/banner-new.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.font-demi {
  font-family: $title-font;
}

.goal {
  font-family: $body-font;
  color: #000;
}
.font-extended-book {
  font-family: $navbar-font;
}
.vision {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.scale {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// Styles for Careers dropdown
.css-1rhbuit-multiValue {
  display: none !important;
}
.css-1hb7zxy-IndicatorsContainer div:first-child {
  display: none !important;
}

.css-yk16xz-control,
.css-1pahdxg-control {
  padding-top: 8px;
  padding-bottom: 7px;
  border-radius: 2.5rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border: none !important;
}

.css-g1d714-ValueContainer {
  padding: 2px 16px !important;
  font-family: 'Maison Nueue Extended Book', 'Font Awesome 5 Free';
  font-size: 0.875rem;
  line-height: normal;
}

.department {
  background-repeat: no-repeat;
  background-size: cover;
}

.openings {
  font-size: 1.3125rem;
}

.teams {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 439px;
  max-width: 330px;

  border-radius: 44px;
  .head {
    font-size: 1.875rem;
  }
  .openings {
    font-size: 1rem;
  }
  @media screen and(max-width: 576px) {
    max-width: 210px;
    min-height: 240px;
    .head {
      font-size: 1.125rem;
    }
  }
}
.transport {
  background-image: url('/img/careers/teams/transport.svg');
}
.kernel {
  background-image: url('/img/careers/teams/kernel.svg');
}
.go-food {
  background-image: url('/img/careers/teams/go-food.svg');
}
.operations-platform {
  background-image: url('/img/careers/teams/operations-platform.svg');
}
.merchant {
  background-image: url('/img/careers/teams/merchant.svg');
}
.marketplace {
  background-image: url('/img/careers/teams/marketplace.svg');
}
.go-pay {
  background-image: url('/img/careers/teams/go-pay.svg');
}

#teams {
  .slick-next:before {
    color: #fff !important;
    opacity: 1;
  }
}

.jobs-table-header {
  .head {
    font-size: 1.125rem;
    color: $green-light;
  }
  border-bottom: 1px solid #979797;
}
.table-row {
  // transition: 0s color;
  i,
  p {
    color: #696969;
  }
  &:nth-child(even) {
    .job-row {
      background: #f2f2f2;
    }
  }
  &:nth-child(odd) {
    .job-row {
      background: #fff;
    }
  }
  &:hover {
    cursor: pointer;
    color: #696969;
    p,
    i {
      color: #242424;
    }
    p {
      font-family: $header-font;
    }
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.css-2b097c-container:focus {
  outline: none;
}

.job-tag {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.animation-icon {
  position: absolute;
  top: 250px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.5);
  }

  &--right {
    left: 30px;
  }
}

.view-more-button {
  &__icon {
    font-size: 2rem;
    cursor: pointer;
  }
}

/* MASONRY */
.single-perk-card {
  border-radius: 2.5rem;
  background-position: center bottom !important;
  background-repeat: no-repeat;

  @media screen and(max-width: 576px) {
    &.perk-img {
      height: 331px !important;
    }
    &.perk-card {
      height: 218px !important;
    }
  }
}
